@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Light.woff2') format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Phenomena';
  src: url('/fonts/Phenomena/Phenomena-Bold.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.my-required {
  @apply after:content-['*'] after:ml-0.5 after:text-red-500;
}

[data-feature-id] {
  cursor: pointer;
  text-decoration: underline;
}

[contenteditable]:focus-visible {
  outline: none;
}

[contenteditable] * {
  font-family: 'Phenomena';
  letter-spacing: 0.5px;
}

[contenteditable] p {
  @apply text-xl leading-loose;
}

[contenteditable] h1,
[contenteditable] h2,
[contenteditable] h3,
[contenteditable] h4,
[contenteditable] h5,
[contenteditable] h6 {
  font-weight: bold;
  letter-spacing: inherit;
}

[contenteditable] h1 {
  @apply text-5xl my-5;
}

[contenteditable] h2 {
  @apply text-4xl my-4;
}

[contenteditable] h3 {
  @apply text-3xl my-3;
}

[contenteditable] h4 {
  @apply text-2xl my-3;
}

[contenteditable] h5 {
  @apply text-xl my-2;
}

[contenteditable] ul {
  list-style: inside;
  list-style-type: disc;
}

/* hack to avoid line breaks in <li><p>hello world</><li> */
[contenteditable] ul p {
  display: inline;
}
